.plane {
  background-image: url("../../../img/plane.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 170px;
  position: absolute;
  transition: 0.2s linear;
  width: 350px;
}

.shotHit{
  animation: shotHit-animation 2.1s ease-in-out forwards;
}

@keyframes shotHit-animation {
  
  0% {
   
  }
  100% {
    transform: rotate(-45deg); /* Giữ nguyên ở bottom */
  }
}